@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    justify-content: center;

}
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 15px;
    background-color: #252750;
    
}

nav ul :hover {
  color:rgb(249, 213, 122);
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px 15px;
    font-size: 1.3rem;


}

.filters {
    text-align: center;
    margin:20px;
}

.filters label {
    font-weight: bold;
    margin-left: 20px;

}

.filters select {
    padding: 5px;
    font-size: 1rem;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 1800px;
    margin: auto;
    padding: 15px;
}

/* Figure Styling */
figure {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

figcaption h3 {
    margin-top: 10px;
    font-size: 1.25rem;
}

figcaption p {
    font-size: 1.1rem;
    text-align: left;
}

/* Video Section */
.video {
    text-align: center;
    margin: 40px 0;
    background-color: rgb(234, 229, 223);
}

.video video {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color:#252750;
    padding: 15px;
    margin-top: 40px;
    color: aliceblue;
}



@media (max-width: 1224px) {
    #gallery {
        grid-template-columns: 1fr 1fr
    }
    
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    #gallery {
        grid-template-columns: 1fr
    }
    
    .video video {
        width: 90%;
    }
}

